* {
	box-sizing: border-box;
}

body {
	background-color: #9b9b9b;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	overflow: hidden;
}

.container {
	width: 700px;
	max-width: 800px;
	background-color: rgba(216, 216, 216, 0.8);
	height: 400px;
	padding: 5px 40px;
	border-radius: 20px;
}
.main {
}
.title {
	text-align: center;
}

.setting {
	margin-bottom: 20px;
}

.lenght {
	
}

.generate {
	display: block;
	padding: 5px 10px;
	background-color: #000;
	border-radius: 5px;
	color: #fff;
	position: relative;
	bottom: -200px;
}

.generater:active {
	transform: scale(1.1) translateX(3px);
}

.password {
	font-size: 40px;
	text-align: center;
}
