@import url('normalize.css');
@import url('settings.css');
@import url('components.css');

.generator__container {
	background-color: rgba(45, 156, 231, 0.8);
	min-height: 400px;
	padding: 20px 20px 40px;
	border-radius: 20px;
	color: #fff;
}
.generator__body {
	display: flex;
	gap: 40px;
	justify-content: space-between;
}

.title {
	text-align: center;
	font-size: 48px;
	padding: 20px;
	font-weight: 600;
}

.settings {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	font-size: 18px;
}


.btn__generate {
	padding: 20px 30px;
	background-color: #4cc95dbb;
	border-radius: 7px;
	color: #ffffff;
	border: none;
	transition: 0.3s;
	align-self: center;
}

.btn__generate:hover {
	opacity: 0.8;
}

.btn__generate:active {
	transform: scale(0.9);
}

.password {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	font-size: clamp(30px, 6vw, 40px);
	width: 100%;
}

.password::selection {
	background-color: #f0f0f0;
}

.settings__item {
	display: flex;
	gap: 10px;
	font-size: 20px;
}

.settings__header {
	font-size: 20px;
}

.password__length {
	cursor: pointer;
}